.formControl {
	display: inline-block;
	position: relative;	
}
.formControl input, .formControl textarea {
	border: 2px solid transparent;
}
.formControl.error input, .formControl.error textarea {
	border: 2px solid red;
}
.formControl.error span {
	display: inline-block;
	position: absolute;
	top: 0;
	right: -5px;
	transform: translate(100%, 0);
	color: white;
	background: red;
	padding: 5px;
	margin-bottom: 10px;
	line-height: 0.7em;
}