.nav {
  padding: 20px;	
  /*grid-area: nav;*/
  grid-column: 1;
  grid-row: 2;
  background: #1467C1;
  border-radius: 5px 5px 0 0;
}
.item {
	color: white;
	padding: 10px;
}
.item:hover {
	font-weight: 700;
}
.item a {
	text-decoration: none;
	color: inherit;
}
.item a.activeLink {
	color: #ffd700;
	font-weight: 700;
	cursor: default;
}
.login {
	display: none;
	@media (max-width: 700px) {
		display: block;
	}
}
