.nav {
  padding: 20px;	
  grid-area: nav;
  background: #1467C1;
  border-radius: 5px 5px 0 0;
}
.item {
	color: white;
	padding: 10px;
}
.item:hover {
	font-weight: 700;
}
.item a {
	text-decoration: none;
	color: inherit;
}
.item a.activeLink {
	color: gold;
	font-weight: 700;
	cursor: default;
}
