.descripionBlock {
	display: block;
	padding: 10px;
	padding-left: 0;
}
.infoBlock {
	grid-area: info;
	border: 1px solid red;
	/*grid-column: 2;
	  grid-row: 2;*/
	/*margin-top: 10px;
	margin-left: 10px;*/
}
.mainPhoto{
	max-width: 200px;
}
.fileInput {
	display: block;
	margin-top: 10px;
}
.contact {
	padding-left: 15px;
}
.formSummeryError {
	padding: 5px;
	line-height: 0.7em;
	color: white;
	background: red;
	display: inline-block;
}