.loginBlock {
	color: #1A1A1A;
}
.userName {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	margin-top: 10px;
}
.button {
	vertical-align: top;
	margin-top: 2px;
}
.loginBlock a {
	/*color: white;*/
}
.photo {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}