// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-logout,
.icon-logout\:regular {
	@extend %icon;
	background-image: url('icons/icons.svg');
	background-position: 0 0;
}
.icon-logout-dims {
	width: 300px;
	height: 300px;
}