.dialogs {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-areas: 
	"item messages";
	@media (max-width: 850px) {
		grid-template-areas: 
		"item" 
		"messages";
		grid-template-columns: none;
		// grid-template-rows: 1fr 1fr;
	}
}
.dialogsItems {
	padding: 10px;
	grid-area: item;
}
.dialog {

}
.active {
	color: #ffd700;
}
.messages {
	padding: 10px;
	grid-area: messages;
}
.message {
	display: grid;
	/*grid-template-areas: "avatar text";*/
	grid-template-columns: 80px 1fr;
	margin-bottom: 10px;
}
.message__avatar {
	width: 60px;
	border-radius: 50%;
}
.addMessageBlock {
	padding: 10px;
}